.container {
    width:100%;
    border:1px solid #d3d3d3;
    background-color: #043361;
    color: white;
}
.container div {
    width:100%;
    background-color: #043361;
    color: white;
}
.container .header {
    background-color:#d3d3d3;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
    color: white;
}
.container .content {
    display: none;
    padding : 5px;
    background-color: #043361;
    color: white;
}
